.liste{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    height: 100%;
    border-color: black;
    background-color: rgb(163, 231, 163);
    color:rgb(54, 71, 31);
    border-radius: 50px;
    margin: 30px;
    padding: 30px;
}
input{
    width: 350px;
    height: 20px;
    margin-left: 15%;
    font-family:Arial, Helvetica, sans-serifs;
}
h2{
    font-size: 30px;
    text-align: center;
}
button{
    text-align: center;
    width: 50%;
    margin-left: 28%;
    text-decoration: none;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(110, 6, 27);
}
a{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin-left: 40%;
    font-family:Arial, Helvetica, sans-serif;
    color: blueviolet;
}
body{
    margin-left: 300px;
}